body {
	border-style: solid inset;
	border-width: 6px;
	border-color: #ccd9d8;
	background-color: #080808;
	color: #5fba3d;
	font-family: monospace, prestige;
	min-height: 300px;
}

#content {
	padding: 30pt;
}

a {
	color: #5fba3d;
	text-decoration: underline;
}

.journaltop {
	background-color: #080808;
	color: #5fba3d;
}

#sidebar {
	float: right;
	padding: 20pt;
}

h1 {
	color: #5fba3d;
	font-family: monospace, prestige;
	padding: 15pt;
}

img {
	width: 0px;
	height: 0px;
}

li {
	background-color: #080808;
}

.a {
	background-color: #080808;
}

.redback {
	background-color: #d5381a;
	color: #080808;
}

.blueback {
	background-color: #0034dc;
	color: #5fba3d;
}

.greenback {
	background-color: #5fba3d;
	color: #080808;
}

.yellowback {
	background-color: #e5df43;
	color: #d5381a;
}

.greyback {
	background-color: #888888;
	color: #ffffff;
}

.border {
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #888888;
}

.image {
	width: auto;
	height: auto;
}

.candidate {
	width: 400px;
	background: grey;
	margin: 0 50px;
	padding: 20px;
	border-radius: 5px;
}

.candidate.left {
	float: left;
}

.candidate.right {
	float: right;
}

.candidate .snippet_name {
	font-weight: bold;
	font-size: 20px;
	color: #00FF00;
	font-family: sans-serif;
	margin-bottom: 5px;
}

.candidate .code {
	background: white;
	padding: 10px 5px;
}
