{% extends "template.html" %}
{% block content %}
   <h2>Which is the better snippet?</h2>
   <div style="overflow:hidden;">
   
   <form action="/" method="post" class="candidate left" >
	<input type="hidden" name="winning" value="{{ snippet_one.key }}"/>
	<input type="hidden" name="losing" value="{{ snippet_two.key }}"/>
   	<div class="snippet_name">{{snippet_one.title}}</div>
   	<div class="code">
   		{{ snippet_one.code }}
   	</div>
   	<input type="submit" value="Vote">
   </form>
   
   <form action="/" method="post" class="candidate right">
	<input type="hidden" name="winning" value="{{ snippet_two.key }}"/>
	<input type="hidden" name="losing" value="{{ snippet_one.key }}"/>
   	<div class="snippet_name">{{snippet_two.title}}</div>
   	<div class="code">
   		{{ snippet_two.code }}
   	</div>
   	<input type="submit" value="Vote">
   </form>
   </div>
   
{% endblock %}
