{% extends "template.html" %}
{% block content %}
<h1>Submit Your Code Here</h1>

    {% if user %}
        <form method="POST">
            <b>User: </b> <input name="submitter" readonly="yes" type="text" value="{{ user.nickname }}"/><br>
            <b>Snippet Title: </b><input name="title" type="text" /><br>
            <b>Snippet Code: </b><br>
            <textarea name="code" type="text" ></textarea><br>
<!-- (tags don't work yet)            <b>Tags: </b><input name="tags" type="text" /><br> -->
            <input type="submit" value="Submit" />
        </form>
    {% else %}
        You must <a href="{{ login_url }}">login</a> to submit.
    {% endif %} 
{% endblock %}
